
:root {
  background-attachment: fixed;
  --viewportWidth: calc(100vw - var(--scrollbarWidth));

  --c-red1: #ee6570;
  --c-red2: #ff4961;
  --c-red3: #e84258;
  --c-red4: #993e4a;

  --c-gray1: #121212;
  --c-gray2: #333333;
  --c-gray3: #828282;
  --c-gray4: #d1d1d1;
  --c-gray5: #e0e0e0;
  --c-gray6: #f4f4f5;

  --c-1: rgba(255, 255, 255);
  --c-text-primary: var(--c-1);
  --c-line-primary: var(--c-1);
  --c-bkg-offset: var(--c-1);

  --c-text-accent: var(--c-red2);
  --c-line-accent: var(--c-red2);
  --c-bkg-accent: var(--c-red2);

  --c-bkg: var(--c-gray2);
  --c-text-offset: var(--c-gray2);

  --c-3d-shadow: var(--c-red4);

  --c-5: rgba(255, 255, 255, 1);
  --c-text-bright: var(--c-5);

  --c-6: #c2c2c2;

  --c-7: #2fdf75;
  --c-success: var(--c-7);

  --c-8: #ff0000;
  --c-negative: var(--c-8);
  --c-accent: #6866cc;

  --c-bitcoin: #f7931a;
  --c-lightning: #7b1af8;

  --c-shadow-1: rgb(0 0 0 / 50%);
  --c-shadow-2: rgb(0 0 0 / 40%);
  --c-shadow-3: rgb(0 0 0 / 20%);

  --c-bkg-light-fade05: rgba(255, 255, 255, 0.05);
  --c-bkg-light-fade1: rgba(255, 255, 255, 0.1);
  --c-bkg-light-fade2: rgba(255, 255, 255, 0.2);
  --c-bkg-light-fade9: rgba(255, 255, 255, 0.9);

  --c-bkg-dark-fade1: rgba(0, 0, 0, 0.1);
  --c-bkg-dark-fade2: rgba(0, 0, 0, 0.2);

  --c-spacer: var(--c-bkg-light-fade05);

  --c-glass: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05)
  );
  --c-dark-glass: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));

  --sh-2: 0 3rem 2rem 0rem var(--c-shadow-2);

  --s-primary: 0.5;
  --b-primary: 1px solid var(--c-line-primary);
  --b-secondary: 1px dashed var(--c-line-primary);

  --f-hero: "Basis Grotesque Pro";
  --f-bold: "Tusker Grotesk 5500";
  --f-accent: "Montserrat";
  --f-accent2: "Arkibal Mono";
  --f-accent-bold: "Montserrat";
  --f-accent2-bold: "Arkibal Mono Rg";
  --f-copy: "Liberation Mono";
  --f-button: "Basis Grotesque Mono Pro";

  --t-simple: all 0.2s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333;
  font-size: 2vmin;
  font-size: max(2vmin, 10px);
  scroll-behavior: smooth;
  color: var(--c-text-primary);
  font-family: var(--f-accent);
}

body {
  margin: 0;
  background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)),
    url("../bkg.jpg");
  background-blend-mode: color, normal;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

@supports (-webkit-touch-callout: none) {
  body {
    background: none;
    position: relative;
  }
  body::after {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)),
      url("../bkg.jpg");
    background-blend-mode: color, normal;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }
}

/* body {
  animation: fadein 2s 0.5s 1;
  backdrop-filter: blur(0) opacity(1);
} */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadein {
  from {
    backdrop-filter: blur(1rem) opacity(0);
  }
  to {
    backdrop-filter: blur(0) opacity(1);
  }
}

a {
  cursor: pointer;
  color: var(--c-text-accent);
}

strong {
  color: var(--c-text-accent);
}

button {
  transition: var(--t-simple);
  cursor: pointer;
  position: relative;
  padding: 0.7rem 1.7rem;
  color: var(--c-text-bright);
  background-color: var(--c-accent);
  border: 0;
  font-family: var(--f-accent);
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  box-shadow: 0 1rem 1rem -0.5rem var(--c-shadow-3);
  border-radius: 34px;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(120%);
}

main section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(90vw - 4rem, 700px);
}

h1 {
  font-family: var(--f-hero);
  font-size: min(3.8rem, 171px);
  line-height: 1;
  font-weight: 400;
  outline: 1px solid white;
  outline-offset: 2rem;
  margin-top: 6rem;
}

.alert {
  display: none;
  font-size: 1.3rem;
  padding: 0.7rem 1.7rem;
}

.alert--success {
  color: var(--c-7);
}

.show {
  display: block;
}

p {
  font-size: max(1.2rem, 25px);
}

img {
  width: min(70vw, 400px);
}

h2{
    width: min(70vw, 400px);
}

h4{
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 4rem;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 4rem);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

footer section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

h3 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

h3 span {
  font-size: 2rem;
}
